$theme-dark: (
  bg: 25 30 35,
  surface: 24 28 36,
  paper: 48 60 74,
  text: 164 172 190,

  border: 82 88 108 / 0.35,
  line: 82 88 108 / 0.35,
  shadow: 0 0 0 / 0.25,

  scroll-track: 29 36 43,
  scroll-thumb: 42 53 63,

  // TODO: organize
  btn-bg: 255 255 255,
);
