.nw-resize { cursor: nw-resize; }
.n-resize { cursor: n-resize; }
.ne-resize { cursor: ne-resize; }
.w-resize { cursor: w-resize; }
.e-resize { cursor: e-resize; }
.sw-resize { cursor: sw-resize; }
.s-resize { cursor: s-resize; }
.se-resize { cursor: se-resize; }
